nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px;

    background:#2563eb;

    color:white;
}

nav a{

    color:white;

    text-decoration:none;

    margin-right:15px;

    font-weight:bold;
}

nav a:hover{

    text-decoration:underline;
}

nav button{

    padding:8px 15px;

    border:none;

    border-radius:5px;

    cursor:pointer;
}